body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;

  overflow: hidden;

  background-color: #ddd;
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;

  background-color: rgb(240, 179, 179);
}

img.main_image {
  width: 100%;
}
